
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {font-family: "Roboto", sans-serif;
        display: flex;
        
        flex-direction: column;
        flex-shrink: 0;
    }

.header {background-color: #1F2937;
    font-size: 24px;
    color: #f9faf8;
    
    
    
    display: flex;
    justify-content: space-between;
    padding: 25px;
    flex-shrink: 0
         }

.header-links {
    font-size: 18px; 
    color: #f9faf88b;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 305px;
flex-shrink: 0}

.header-logo {
                font-size: 24px;
                margin-left: 260px;
                font-weight: 900;
                }

.middle {display: flex;
        flex-direction: column;
    flex-shrink: 0}

.section-one {display: flex;
                justify-content: center;
                


                background-color: #1F2937;
            padding: 200px;
            gap: 160px;
            flex-shrink: 0
        }

.left-one {margin-left: 100px;}

.left-one-top {font-size: 48px;
                color: #F9FAF8;
                font-weight: 900;}

.left-one-middle {font-size: 18px;
                  color: #E5E7EB;}

.left-one-button {font-size: 18px;
                  color: #E5E7EB;
                    background-color: #3882F6;
                border-radius: 10px;
            padding: 5px;
        width: 150px;
    margin-top: 15px;
}

.right-one {background-color: #e5e7eb4f;
            color: #E5E7EB;
            display: flex;
            justify-content: center;
            align-items: center;
           
            margin-right: 125px;
        min-height: 225px;
        min-width: 500px;
    max-height: 200px;
        max-width: 500px;
    flex-shrink: 0}

.section-two {display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 50px;
              flex-shrink: 0
        }

.bottom {display: flex;
        justify-content: center;flex-shrink: 0
        }

.top {display: flex;
      justify-content: center;
       align-items: center;
       font-size: 36px;
       color: #1F2937;
       font-weight: 900;
       flex-shrink: 0
    }
.blue-box { 
    width: 175px; 
    height: 175px;          
    background-color: white; /* Fills the box with a background color */
    border: 5px solid #3882F6; /* Adds a border around the padding and content */
    padding: 20px;          /* Adds space between the content and the border */
    margin: 30px;        /* Adds space outside the border, separating it from other elements */ 
    color: black;           /* Sets the text color */
    text-align: center;     /* Centers the text inside the box */
    border-radius: 10px;    /* Optional: Adds rounded corners */
    box-sizing: border-box; /* Optional (but recommended): makes width/height include padding and border */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0
    
    
    
            }

.box-one {display: flex;
            flex-direction: column;
        margin-left: 50px;justify-content: center;
align-items: center;
flex-shrink: 0
    }
            

.box-two {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0
}

.box-three {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0}

.box-four {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-right: 50px;flex-shrink: 0}

.subtext {max-width: 200px;
}


.section-three { background-color: #E5E7EB;
                 display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 150px;
                flex-shrink: 0
            }

.quote-body {font-size: 36px;
                font-weight: 300;
                color: #1F2937;
            max-width: 930px;
        min-width: 930px;}

.quote-signature {font-size: 28px;
                font-weight: 900;
                color: #1F2937;
                align-self: flex-end;
                margin-right: 260px;
                
            }

.section-four {display: flex;
                justify-content: center;
                align-items: center;
                padding: 100px;
            flex-shrink: 0}

.blue-container {background-color: #3882F6;
                 display: flex;
                 justify-content: space-evenly;
                 align-items: center;
                 padding: 50px;
                 min-width: 930px;
                 gap: 150px;
                 flex-shrink: 0
                 
                }

.left-four-top {color: #F9FAF8;
font-size: 24px;}

.left-four-bottom {color: #e5e7ebb8;
font-size: 18px;}

.bottom-four-button { background-color: #3882F6;
                        font-size: 18px;
                  color: #E5E7EB;
                align-self: center;
            border-radius: 10px;
            width: 125px;
            border-color: #F9FAF8;
            border-width: 2px ;
            padding: 5px;
        }

.footer {display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1F2937;
        color: #f9faf8cb;
        padding: 50px;
        flex-shrink: 0
    }
        




