
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {font-family: "Roboto", sans-serif;
        display: flex;
        
        flex-direction: column;
    }

.header {background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    
    
    
    display: flex;
    justify-content: space-between;
         }

.header-links {
    font-size: 18px; 
    color: #E5E7EB;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;}

.header-logo {
                font-size: 24px;
                margin-left: 30px;
                }

.middle {display: flex;
        flex-direction: column;}

.section-one {display: flex;
                justify-content: space-between;
                


                background-color: #1F2937;}

.left-one {margin-left: 30px;}

.left-one-top {font-size: 48px;
                color: #F9FAF8;
                font-weight: 900;}

.left-one-middle {font-size: 18px;
                  color: #E5E7EB;}

.left-one-button {font-size: 18px;
                  color: #E5E7EB;
                    background-color: #3882F6;
                border-radius: 10px;}

.right-one {background-color: gray;
            color: #E5E7EB;
            display: flex;
            justify-content: center;
            align-items: center;
           
            margin-right: 30px;
        min-height: 200px;
        min-width: 500px;
    max-height: 200px;
        max-width: 500px;}

.section-two {display: flex;
              flex-direction: column;
              justify-content: space-evenly;
        }

.bottom {display: flex;
        justify-content: space-evenly;
        }

.top {display: flex;
      justify-content: center;
       align-items: center;
       font-size: 36px;
       color: #1F2937;
       font-weight: 900;
    }
.blue-box { border-radius: 5%;
            border-color: #3882F6;
            border: 10px ;
            padding: 15px;
            width: 20px;
            }

.box-one {display: flex;
            flex-direction: column;
        margin-left: 30px;}
            

.box-two {display: flex;
flex-direction: column;}

.box-three {display: flex;
flex-direction: column;}

.box-four {display: flex;
flex-direction: column;
margin-right: 30px;}

.section-three { background-color: #E5E7EB;
                 display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;}

.quote-body {font-size: 36px;
                font-weight: 300;
                color: #1F2937;}

.quote-signature {font-size: 36px;
                font-weight: 900;
                color: #1F2937;}

.section-four {display: flex;
                justify-content: center;
                align-items: center;}

.blue-container {background-color: #3882F6;
                 display: flex;
                }

/*.left-four {}

.right-four {}*/

.bottom-four-button { background-color: #3882F6;
                        font-size: 18px;
                  color: #E5E7EB;
                align-self: center;}

.footer {display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1F2937;
        color: #F9FAF8;}
        




